$white: #FFFFFF;

$blue-1: #3cc5ea;
$blue-2: #33a1c0;

$black-1: #25252d;
$black-2: #1b1d24;
$black-3: rgb(40 40 49 / 53%);

$gray-1: #2d2d36;
$gray-2: #404147;

$body-bg: $gray-1;
$body-txt: $white;
