$roboto-black: "Roboto-Black";
$roboto-light: "Roboto-Light";
$roboto-bold: "Roboto-Bold";

$font-base: $roboto-black, sans-serif;
$font-light: $roboto-light, sans-serif;
$font-bold: $roboto-bold, sans-serif;

$size-default: 14px;
$default-rem: 10px;